body {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.news h2,
.contacts h2,
.appointment h2,
.modal-login h2 {
    font-size: 30px;
    line-height: 42px; 
    text-transform: uppercase;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px; 
    text-transform: uppercase; 
}